    <footer class="site-footer border-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 class="footer-heading mb-4">Навігація</h3>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                                <li><a href="#">Покупки Онлайн</a></li>
                                <li><a href="#">Категорії</a></li>
                                <li><a href="#">Мої Покупки</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <ul class="list-unstyled">
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="block-5 mb-5">
                        <h3 class="footer-heading mb-4">Контакти</h3>
                        <ul class="list-unstyled">
                            <li class="address">Івано-Франківськ</li>
                            <li class="phone"><a href="tel://23923929210">+380684444477</a></li>
                            <li class="email">levitskiy22@domain.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>