{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Головна</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Про нас</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
        <h1>Ласкаво просимо на сторінку "Про нас"<br> нашого інтернет-магазину електронних сигарет!</h1>
  <p>Ми - ваш надійний партнер у світі електронних сигарет і вейпінгу. Наша компанія заснована з метою забезпечити нашим клієнтам доступ до якісних електронних сигарет та вейп-приладів, які допомагають людям перейти на менш шкідливу альтернативу традиційного куріння.</p>
  <h2>Чому обрати нас?</h2>
  <ol>
    <li>Широкий асортимент продукції: У нас ви знайдете великий вибір електронних сигарет, вейп-приладів, жидкостей для заправки, аксесуарів та багато іншого. Ми співпрацюємо з найкращими виробниками в галузі, щоб забезпечити вам лише найвищу якість продукції.</li>
    <li>Якість і безпека: Ми ретельно відбираємо продукцію, що пропонується в нашому магазині, та працюємо лише з відомими виробниками, які дотримуються всіх стандартів якості та безпеки. Ви можете бути впевнені, що продукція, яку ви купуєте у нас, буде відповідати найвищим стандартам якості.</li>
    <li>Професійний сервіс: Наша команда експертів готова надати вам кваліфіковану допомогу та консультації щодо вибору продукції, підтримки післяпродажного обслуговування та вирішення будь-яких питань, що виникають у вас. Ми завжди готові відповісти на ваші запитання та забезпечити вам найкращий досвід покупок.</li>
    <li>Безпечні та швидкі доставки: Ми прагнемо забезпечити надійну та швидку доставку наших товарів. Ми співпрацюємо з провідними службами доставки, щоб ваші замовлення досягли вас в найкоротші терміни та у безпечному стані.</li>
    <li>Конфіденційність та безпека даних: Ми поважаємо вашу приватність і забезпечуємо повну конфіденційність вашої особистої інформації. Ми використовуємо захищені протоколи передачі даних та забезпечуємо безпеку вашої інформації.</li>
  </ol>
  <p>Ми прагнемо створити довгострокові відносини з нашими клієнтами та зробити процес переходу на електронні сигарети максимально комфортним та приємним. Незалежно від того, чи ви новачок у вейпінгу, чи досвідчений користувач, ми завжди готові допомогти вам знайти ідеальну продукцію для вашого задоволення.</p>
  <p>Дякуємо, що обрали нас як свого постачальника електронних сигарет. Будь ласка, <a href="
/contacts">зв'яжіться з нами</a>, якщо у вас є будь-які запитання або потреба у допомозі. Ми завжди раді допомогти вам!</p>
        </div>
        </div>
      </div>
    </div>

<!--    <div class="site-section block-3 site-blocks-2 bg-light">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-md-7 site-section-heading text-center pt-4">-->
<!--            <h2>Featured Products</h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="nonloop-block-3 owl-carousel">-->
<!--              <div class="item">-->
<!--                <div class="block-4 text-center">-->
<!--                  <figure class="block-4-image">-->
<!--                    <img src="#" alt="Image placeholder" class="img-fluid">-->
<!--                  </figure>-->
<!--                  <div class="block-4-text p-4">-->
<!--                    <h3><a href="#">T-Shirt Mockup</a></h3>-->
<!--                    <p class="mb-0">Finding perfect products</p>-->
<!--                    <p class="text-primary font-weight-bold">$50</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="block-4 text-center">-->
<!--                  <figure class="block-4-image">-->
<!--                    <img src="images/shoe_1.jpg" alt="Image placeholder" class="img-fluid">-->
<!--                  </figure>-->
<!--                  <div class="block-4-text p-4">-->
<!--                    <h3><a href="#">Corater</a></h3>-->
<!--                    <p class="mb-0">Finding perfect products</p>-->
<!--                    <p class="text-primary font-weight-bold">$50</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
{% endblock %}