{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{ product.name }}
{% endblock %}
{% block content %}
    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="/">Головна</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Контакти</strong></div>
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
    <header>
    <h1>Контакти</h1>
  </header>

  <main>
    <section>
      <p>Зв'яжіться з нами, якщо у вас є будь-які питання або потреба у допомозі.</p>
      <ul class="contacts">
        <li><i class="fas fa-phone"></i> Номер телефону: <a href="tel:+380681243929">+380681243929</a></li>
        <li><i class="far fa-envelope"></i> Email: <a href="mailto:mykhailolevytskyi911@gmail.com">mykhailolevytskyi911@gmail.com</a></li>
        <li><i class="fab fa-instagram"></i> Instagram: <a href="https://www.instagram.com/vapelevif/">vapelevif</a></li>
      </ul>
    </section>
  </main>

  <footer>
    <p>Дякуємо, що обрали нас як свого постачальника електронних сигарет.</p>
  </footer>

  <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
        </div>
      </div>
    </div>

<!--    <div class="site-section block-3 site-blocks-2 bg-light">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--          <div class="col-md-7 site-section-heading text-center pt-4">-->
<!--            <h2>Featured Products</h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-12">-->
<!--            <div class="nonloop-block-3 owl-carousel">-->
<!--              <div class="item">-->
<!--                <div class="block-4 text-center">-->
<!--                  <figure class="block-4-image">-->
<!--                    <img src="#" alt="Image placeholder" class="img-fluid">-->
<!--                  </figure>-->
<!--                  <div class="block-4-text p-4">-->
<!--                    <h3><a href="#">T-Shirt Mockup</a></h3>-->
<!--                    <p class="mb-0">Finding perfect products</p>-->
<!--                    <p class="text-primary font-weight-bold">$50</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="block-4 text-center">-->
<!--                  <figure class="block-4-image">-->
<!--                    <img src="images/shoe_1.jpg" alt="Image placeholder" class="img-fluid">-->
<!--                  </figure>-->
<!--                  <div class="block-4-text p-4">-->
<!--                    <h3><a href="#">Corater</a></h3>-->
<!--                    <p class="mb-0">Finding perfect products</p>-->
<!--                    <p class="text-primary font-weight-bold">$50</p>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
{% endblock %}